.errorMessageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  gap: 2rem;
}

.errorIcon {
    color: #dc2626;
    margin-right: 10px;
}

.errorMessage {
    color: #dc2626;
}