.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.imageBox {
    width: 150px;
    height: 150px;
    margin-right: 15px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}

.productName {
    margin-right: 15px;
}