.addProductContainer {
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 60px;
}

.addProductForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
}

.formGroup {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.addProductTitle {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
}

.heading {
    text-align: center;
    margin-bottom: 16px;
}