.title {
    margin: 20px 0;
}

.paymentMethodsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.methodCard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}